@import '../styles/palette';

// uses same input style as semanticUI
.newdle-link {
  display: flex;
  justify-content: center;

  input {
    text-align: center !important;
  }
}

.success-message {
  border: 1px solid $light-teal;
  border-radius: 3px;
  padding: 15px;
  color: $grey;

  .header {
    color: $light-teal !important;
  }
}
